.landing-tech-card {
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: relative;
  transform: perspective(5000px) rotateY(var(--landing-card-rotation-y)) rotateX(var(--landing-card-rotation-x));
  transform-style: preserve-3d;

  .img-container {
    width: 70%;
    max-width: 16rem;
    position: relative;
    flex: 1;

    img {
      object-fit: contain;
    }
  }

  >h3 {
    margin-top: var(--spacer-1);
    padding: 0 1rem 2rem 1rem;
  }
}

