<div class="landing-project-card">
  <header class="landing-project-card__date">
    <svg-icon key="calendar" fontSize="2rem"></svg-icon>
    <p aria-label="Duración del proyecto" class="caption-text">
      {{project.startDate | date:'MMMM yyyy'}} - {{project.endDate | date:'MMMM yyyy'}}
    </p>
  </header>
  <div class="landing-project-card__content">
    <div class="content__img">
      <img class="max-img" [src]="project.image" [alt]="'Imagen de ' + project.title">
    </div>
    <div class="content__text">
      <h3>{{project.title}}</h3>
      <p class="clamp-4">{{project.description}}</p>
      <app-link [href]="project.projectUrl">Ver proyecto</app-link>
    </div>
  </div>
</div>