<div class="dashboard-project-card">
  <header class="dashboard-project-card__date">
    <svg-icon key="calendar" fontSize="2.5rem"></svg-icon>
    <p aria-label="Duración del proyecto" class="caption-text">
      {{project.startDate | date:'MMMM yyyy'}} - {{project.endDate | date:'MMMM yyyy'}}
    </p>
  </header>
  <div class="dashboard-project-card__content">
    <div class="content__img">
      <img class="max-img" [src]="project.image" [alt]="project.title + ' image'">
    </div>
    <div class="content__main">
      <h3>{{project.title}}</h3>
      <p class="clamp-4">{{project.description}}</p>

      <div class="content__links">
        <app-link [blank]="true" [href]="project.projectUrl">
          <svg-icon key="external" class="icon"></svg-icon>
          <span>Ver proyecto</span>
        </app-link>
        @if (project.repoUrl) {
        <app-link [href]="project.repoUrl!">
          <svg-icon key="github" class="icon"></svg-icon>
          <span>Repositorio</span>
        </app-link>
        }
      </div>

      <div class="buttons">
        <button class="icon-button" (click)="deleteProject()">
          <svg-icon class="icon" key="trash"></svg-icon>
        </button>
        <button class="icon-button" (click)="editProject()">
          <svg-icon class="icon" key="edit"></svg-icon>
        </button>
      </div>
    </div>
  </div>
</div>