<article class="dashboard-post-card">
  <div class="post-card__image">
    <img class="max-img" [src]="post.imageUrl" [alt]="post.title + ' image'">
  </div>
  <div class="post-content">
    <h3 class="post-content__title">{{post.title}}</h3>
    <p class="post-content__preview clamp-4">{{post.abstract}}</p>
    <div class="post-content__footer">
      <app-link class="link" [toRoute]=true>
        <svg-icon class="icon" key="eye" />
        <span>Ver post</span>
      </app-link>
      <div class="badges">
        <app-badge>Comentarios: </app-badge>
        <app-badge>Estrellas: </app-badge>
      </div>
      <div class="buttons">
        <button class="icon-button" (click)="deletePost()">
          <svg-icon class="icon" key="trash"></svg-icon>
        </button>
        <button class="icon-button" (click)="editPost()">
          <svg-icon class="icon" key="edit"></svg-icon>
        </button>
      </div>
      <span>Última actualización: ...</span>
    </div>
  </div>

</article>