header {
  padding-top: var(--spacer-1);
  padding-bottom: var(--spacer-1);

  >.post-navbar {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--spacer-1);
    margin-bottom: var(--spacer-1);

    >.button {
      width: fit-content;
    }
  }

  >.post-info {
    >.post-info__stars {
      display: block;
      width: fit-content;
      margin: 0 auto;
    }
  }
}

article {
  padding-top: 0;
  padding-bottom: 0;

  >figure {
    height: 30rem;

    >img {
      object-fit: cover;
    }
  }

  >.content {
    margin-top: var(--spacer-1);
    margin-bottom: var(--spacer-1);
  }
}

hr {
  margin: var(--container-padding-y) var(--container-padding-x)
}

.login-callout {
  background-color: var(--primary-color-50);
  border-left: 4px solid var(--primary-color-10);
  padding: var(--spacer-1) var(--spacer-2);
  margin: var(--spacer-2) 0;
  border-radius: var(--card-border-radius);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 0.7em;
  color: var(--white);
  line-height: 1.6;
  position: relative;
}

.login-callout::before {
  content: '💡';
  font-size: 24px;
  position: absolute;
  /* position left and vertically aligned*/
  top: 50%;
  left: var(--spacer-1);
  transform: translateY(-50%);
}

.comments {
  padding-top: 0;
  text-align: center;

  >ul {
    display: flex;
    flex-direction: column;

    >li {
      text-align: start;
      display: flex;
      justify-content: start;
      align-items: center;
      gap: var(--spacer-1);
      margin: 0 0 var(--spacer-2) 0;

      .user-pic {
        width: 5rem;
        min-width: 5rem;
        height: 5rem;
        margin-bottom: .5rem;
      }

      >p {
        flex: 1;
      }

      &:first-child,
      &:last-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media (width >=992px) {
  header {
    >.post-navbar {
      flex-direction: row;
      align-items: center;
    }
  }

  .comments {
    text-align: start;

    .comments-list {
      margin: 0 var(--spacer-3);
    }
  }

  .user-comment-form {
    >.user-pic {
      display: inline-block;
    }

    >fieldset {
      position: relative;
      transform: translateY(-25%);
      margin-top: 0;
      margin-left: var(--spacer-1);
      width: 82%;
      display: inline-flex;
      flex-direction: column;
      gap: 1rem;

      >textarea {
        resize: none;
      }

      >.stars {
        margin: 1rem 10rem auto 0;
      }

      >button {
        position: absolute;
        width: fit-content;
        bottom: 0;
        right: 0;
      }
    }
  }
}

@media (width >=1200px) {
  header {
    >.post-info {
      display: flex;
      align-items: center;
      gap: var(--spacer-1);
    }
  }
}
