<header aria-labelledby="post-title" class="container navbar-on-top">
  <nav aria-label="Navegación de la publicación" class="post-navbar">
    <a tabindex="0" class="button" (click)="goBack()">Volver</a>
  </nav>
  <h2 id="post-title">{{post.title}}</h2>
  <div class="post-info">
    <p>~ AngelMaldonado ~ Actualizado {{post.updatedAt | date:'MMMM yyyy'}}</p>
  </div>
</header>
<article aria-label="Post" class="container">
  <figure>
    <img class="max-img" [src]="post.imageUrl">
  </figure>
  <div class="content" [innerHTML]="markdownContent"></div> <!-- Render sanitized markdown HTML -->
</article>
<hr>
<section aria-labelledby="comentarios" class="comments">
  <h3 id="comentarios">Comentarios ({{this.comments.length}})</h3>
  @if (canComment) {
  <app-comment-form [post]="post" />
  } @else {
  <p class="login-callout">Debes iniciar sesión para poder comentar</p>
  }
  <ul aria-label="Lista de comentarios" class="comments-list">
    @for(comment of comments; track comment._id) {
    <li>
      <div>
        <div class="user-pic">
          <img class="max-img" [src]="'https://robohash.org/' + comment.user" alt="user-avatar#">
        </div>
        <span class="stars">⭐{{comment.stars}}</span>
      </div>
      <p>{{comment.comment}}</p>
    </li>
    }
  </ul>
</section>
