.navbar {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: var(--navbar-height);
  padding: var(--navbar-padding);
  display: flex;
  background-color: var(--primary-color-50);

  .toggler {
    float: left;
  }

  >form {
    width: 85%;
    max-width: 35rem;
    height: 100%;
    position: relative;
    margin: 0 auto;
    margin-bottom: 1rem;

    >input {
      height: 100%;
      width: 100%;
      padding-right: 4.5rem;
    }
  }

  .add-button {
    position: absolute;
    right: var(--spacer-2);
    top: 130%;
    width: 5.5rem;
    height: 5.5rem;
    border-width: 3px;
    border-color: var(--success-color-100);
    color: var(--success-color-100);
    transition: color .3s ease, background-color .3s ease;

    span {
      display: none;
    }

    &:hover {
      background-color: var(--success-color-100);
      color: var(--white);
    }
  }

  >ul {
    max-width: 0;
    height: calc(100vh - var(--navbar-height));
    position: absolute;
    left: 0;
    top: 100%;
    padding: inherit;
    overflow: hidden;
    display: none;
    background-color: inherit;
    animation: appear .3s;

    >li {
      width: 100%;

      &:last-child {
        margin-top: auto;
      }
    }

    &.expanded-off-canvas {
      width: 80%;
      max-width: 40rem;
      display: block;
    }
  }
}

@keyframes appear {
  from {
    max-width: 0;
    opacity: 0;
  }

  to {
    max-width: 40rem;
    opacity: 1;
  }
}

@media (width >=576px) {
  .navbar {
    .add-button {
      width: auto;
      height: auto;
      display: flex;
      align-items: center;
      border-radius: var(--button-border-radius);

      .icon {
        width: 3rem;
        height: 3rem;
        position: relative;
        top: auto;
        left: auto;
        transform: none;
      }

      span {
        display: block;
      }
    }
  }
}

@media (width >=992px) {
  .navbar {
    background-color: transparent;

    >.toggler {
      display: none;
    }

    >form {
      margin-bottom: 0;
    }

    >ul {
      width: max-content;
      height: 90vh;
      max-width: unset;
      position: absolute;
      left: 2rem;
      top: 55%;
      padding: 2rem 1rem;
      border-radius: 2rem;
      display: flex;
      flex-direction: column;
      gap: var(--spacer-1);
      text-align: center;
      overflow: visible;
      background-color: var(--primary-color-50);

      >li {
        position: relative;
        margin: 0;

        span {
          width: max-content;
          position: absolute;
          top: 2rem;
          left: 50%;
          padding: .8rem 1rem;
          opacity: 0;
          border-radius: 1rem;
          color: var(--white);
          background-color: var(--highlight-color-100);
          transition: left .3s ease, opacity .3s ease;
        }

        &:last-child {
          margin-top: auto;
        }

        &:hover,
        &:focus-within {
          span {
            display: block;
            opacity: 1;
            left: 100%;
          }
        }
      }
    }
  }
}