<form (ngSubmit)="onSubmit()" class="crud-form">
  <label for="startDate">📅 Inicio</label>
  <input [value]="model.startDate | date: 'yyyy-MM-dd'" (input)="model.startDate=parseDate($event.target)"
    name="startDate" type="date">
  <label for="endDate">🏁 Término</label>
  <input [value]="model.endDate | date: 'yyyy-MM-dd'" (input)="model.endDate=parseDate($event.target)" name="endDate"
    type="date">
  <label for="title">🏷️ Título</label>
  <input [(ngModel)]="model.title" name="title" type="text" placeholder="Analyzer, TEA, AI reader, etc...">
  <label for="description">🗨️ Descripción</label>
  <textarea [(ngModel)]="model.description" name="description"></textarea>
  <label for="projectUrl">🚀 URL del proyecto</label>
  <input [(ngModel)]="model.projectUrl" name="projectUrl" type="url" placeholder="https://proyecto.com">
  <label for="repoUrl">🐱 URL del repositorio</label>
  <input [(ngModel)]="model.repoUrl" name="repoUrl" type="url" placeholder="https://github.com/User/Repo">
  <label for="image">🖼️ Imagen del proyecto (url)</label>
  <input [(ngModel)]="model.image" name="image" type="url" placeholder="https://alguna-pagina.com/imagen">
  @if (creating()) {
  <button class="success-button">
    <svg-icon key="save" class="icon" />
    <span>Guardar</span>
  </button>
  } @else if (editing()) {
  <button class="warning-button">
    <svg-icon key="edit" class="icon" />
    <span>Actualizar</span>
  </button>
  } @else if (deleting()) {
  <button class="danger-button">
    <svg-icon class="icon" key="trash"></svg-icon>
    <span>Eliminar</span>
  </button>
  }
</form>
