.navbar {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  padding: var(--navbar-padding);
  background-color: var(--primary-color-50);
  transition: padding .3s ease, background-color .3s ease;

  >ul {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    display: none;
    padding: inherit;

    &.expanded {
      display: block;
      max-height: 1000px;
      animation: appear .5s;
    }
  }

  li .link {
    background-color: inherit;
  }

  .user-pic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }

  &.blur {
    background-color: var(--primary-color-50-with-opacity);
    padding: var(--navbar-padding-blur);
  }
}

@keyframes appear {
  from {
    max-height: 0;
    opacity: 0;
  }

  to {
    max-height: 1000px;
    opacity: 1;
  }
}

@media (width >=992px) {
  .navbar {
    >ul {
      display: block;
      width: max-content;
      max-height: max-content;
      position: relative;
      float: right;
      padding: .3rem 0 0 0;
      overflow: visible;

      >li {
        float: left;
        margin: 0;

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    >.toggler {
      display: none;
    }
  }
}
