<div class="dashboard-project-card">
  <header class="dashboard-project-card__date">
    <svg-icon key="calendar" fontSize="2.5rem"></svg-icon>
    <p aria-label="Duración del proyecto" class="caption-text">Junio 2023 - Enero 2024</p>
  </header>
  <div class="dashboard-project-card__content">
    <div class="content__img">
      <img class="max-img"
        src="https://images.unsplash.com/photo-1496181133206-80ce9b88a853?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y29tcHV0ZXJ8ZW58MHx8MHx8fDA%3D"
        alt="Imagen de proyecto">
    </div>
    <div class="content__main">
      <h3>App: TEA</h3>
      <p class="clamp-4">
        Como parte del servicio social de mis estudios universitarios, diseñé, desarrollé, e implementé una
        aplicación móvil, en conjunto con un grupo de investigadores, para realizar un tamizaje a nivel nacional
        acerca del autismo en niños de 18 a 24 meses de edad.
      </p>

      <div class="content__links">
        <app-link href="#">
          <svg-icon key="external" class="icon"></svg-icon>
          <span>Ver proyecto</span>
        </app-link>
        <app-link href="#">
          <svg-icon key="github" class="icon"></svg-icon>
          <span>Repositorio</span>
        </app-link>
      </div>

      <div class="buttons">
        <button class="icon-button"><svg-icon class="icon" key="trash"></svg-icon></button>
        <button class="icon-button"><svg-icon class="icon" key="edit"></svg-icon></button>
      </div>
    </div>
  </div>
</div>
