<form (ngSubmit)="onSubmit()" class="crud-form">
  <label for="email">📧 Correo</label>
  <input [(ngModel)]="model.email" name="email" type="email" placeholder="alguncorreo@dominio.com">
  <label for="name">😁 Nombre</label>
  <input [(ngModel)]="model.name" name="name" type="text" placeholder="Nombre del usuario">
  <label for="pswd">🔐 Contraseña</label>
  <input [(ngModel)]="model.pswd" name="pswd" type="password" placeholder="Contraseña del usuario">
  @if (creating()) {
  <button class="success-button">
    <svg-icon key="save" class="icon" />
    <span>Guardar</span>
  </button>
  } @else if (editing()) {
  <button class="warning-button">
    <svg-icon key="edit" class="icon" />
    <span>Actualizar</span>
  </button>
  } @else if (deleting()) {
  <button class="danger-button">
    <svg-icon class="icon" key="trash"></svg-icon>
    <span>Eliminar</span>
  </button>
  }
</form>
