<form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <fieldset>
    <h3>Registrarse</h3>
    <label for="email">Email</label>
    <input id="email" formControlName="email" type="email" placeholder="📧 Correo" />
    <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
      <small *ngIf="registerForm.get('email')?.hasError('required')">El correo es obligatorio.</small>
      <small *ngIf="registerForm.get('email')?.hasError('email')">Correo inválido.</small>
    </div>
    <label for="pswd">Contraseña</label>
    <input id="pswd" formControlName="pswd" type="password" placeholder="🔒 Contraseña" />
    <div *ngIf="registerForm.get('pswd')?.invalid && registerForm.get('pswd')?.touched">
      <small *ngIf="registerForm.get('pswd')?.hasError('required')">La contraseña es requerida.</small>
      <small *ngIf="registerForm.get('pswd')?.hasError('minlength')">Password must be at least 6 characters.</small>
    </div>
    <div class="buttons">
      <app-link href="auth/login" [toRoute]=true>Iniciar Sesión</app-link>
      <button type="submit" [disabled]="registerForm.invalid">Registrarse</button>
    </div>
  </fieldset>
</form>
