<section aria-labelledby="dash-techs" class="techs">
  <header>
    <h1 id="dash-techs">Tecnologías</h1>
    <form>
      <input placeholder="Buscar" type="search" name="" id="">
      <button>Buscar</button>
    </form>
  </header>
  <ul class="techs__list">
    <li>
      <app-dashboard-tech-card />
    </li>
    <li>
      <app-dashboard-tech-card />
    </li>
    <li>
      <app-dashboard-tech-card />
    </li>
    <li>
      <app-dashboard-tech-card />
    </li>
  </ul>
  <button class="new-button">Nuevo</button>
</section>
